body {
  font-family: arial;
  background-color: #222;
  color: #fff;
}
a {
  color: #0af
}
a:hover {
  color: #0aa;
  transition: 100ms;
}

.main {
  text-align: center;
}
.title {
  color: #F37;
}
.subtitle {
  color: #0f5
}
